Импортируем библиотеку pandas. Загрузим датасет bookings.csv с разделителем ;. Проверим размер таблицы, типы переменных, а затем выведем первые 7 строк, чтобы посмотреть на данные.

In [11]:
import pandas as pd
bookings = pd.read_csv('datasets/bookings.csv', sep=';')
bookings.head(7)

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [12]:
bookings.shape

(119390, 21)

In [13]:
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

Приведём названия колонок к нижнему регистру и заменим пробелы на знак нижнего подчеркивания.

In [14]:
def rename_columns(name):
    name = name.lower().replace(' ', '_')
    return name

bookings = bookings.rename(columns=rename_columns)
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

Выясним, пользователи из каких стран совершили наибольшее число успешных бронирований (топ-5).

In [15]:
successful_bookings = bookings.query('is_canceled != 0')
successful_bookings.country.value_counts().head(5)

PRT    27519
GBR     2453
ESP     2177
FRA     1934
ITA     1333
Name: country, dtype: int64

Выясним, на сколько ночей в среднем бронируют отели разных типов

In [16]:
nights = bookings.groupby('hotel', as_index=False).agg({'stays_total_nights': 'mean'}).round(decimals=2)
nights

          hotel  stays_total_nights
0    City Hotel                2.98
1  Resort Hotel                4.32

Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type).  
Такое может произойти, например, по причине овербукинга. Посмотрим, сколько подобных наблюдений встретилось в датасете.

In [17]:
overbooking = bookings.query('assigned_room_type != reserved_room_type')
overbooking.shape[0]

14917

Выясним, на какой месяц чаще всего оформляли бронь в 2016 году и изменился ли самый популярный месяц в 2017.

In [18]:
popular_month_2016 = bookings.query('arrival_date_year == 2016').arrival_date_month.value_counts()
popular_month_2016

October      6203
May          5478
April        5428
September    5394
June         5292
August       5063
March        4824
July         4572
November     4454
February     3891
December     3860
January      2248
Name: arrival_date_month, dtype: int64

In [19]:
popular_month_2017 = bookings.query('arrival_date_year == 2017').arrival_date_month.value_counts()
popular_month_2017

May         6313
April       5661
June        5647
July        5313
March       4970
August      4925
February    4177
January     3681
Name: arrival_date_month, dtype: int64

Сгруппируем данные по годам и проверим, на какой месяц бронирования отели типа City Hotel отменялись чаще всего в каждый из периодов.

In [20]:
cancel_count = bookings.query('is_canceled == 1 and hotel == "City Hotel"').groupby(['arrival_date_year', 'arrival_date_month'], as_index=False).agg({'is_canceled': 'count'}).sort_values(['arrival_date_year', 'is_canceled'], ascending=[True, False])
cancel_count

    arrival_date_year arrival_date_month  is_canceled
5                2015          September         1543
4                2015            October         1321
0                2015             August         1232
2                2015               July          939
1                2015           December          668
3                2015           November          301
16               2016            October         1947
12               2016               June         1720
17               2016          September         1567
6                2016              April         1539
14               2016                May         1436
15               2016           November         1360
7                2016             August         1247
13               2016              March         1108
8                2016           December         1072
11               2016               July         1043
9                2016           February          930
10               2016            January          438
25               2017                May         2217
18               2017              April         1926
23               2017               June         1808
22               2017               July         1324
24               2017              March         1278
19               2017             August         1123
21               2017            January         1044
20               2017           February          971

Посмотрим на числовые характеристики трёх переменных: adults, children и babies и выясним, какая из них имеет наибольшее среднее значение.

In [21]:
avg_babies = bookings.babies.mean()
avg_babies

0.007948739425412514

In [22]:
avg_children = bookings.children.mean()
avg_children

0.10388990333874994

In [23]:
avg_adults = bookings.adults.mean()
avg_adults

1.8564033838679956

Создадим колонку total_kids, объединив children и babies и посмотрим, для отелей какого типа среднее значение переменной оказалось наибольшим.

In [25]:
bookings_plus = bookings
bookings_plus['total_kids'] = bookings_plus.babies + bookings_plus.children
avg_kids = bookings_plus.groupby('hotel').agg({'total_kids': 'mean'}).round(decimals=2)
avg_kids

              total_kids
hotel
City Hotel          0.10
Resort Hotel        0.14

Создадим переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids),  
в противном случае – False. Посчитаем отношение количества ушедших пользователей к общему количеству клиентов,  
выраженное в процентах (churn rate).

In [26]:
bookings_plus['has_kids'] = bookings_plus['total_kids'] > 0
bookings_plus

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids,has_kids
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0,False
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0,False
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02,0.0,False
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02,0.0,False
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03,0.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06,0.0,False
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07,0.0,False
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07,0.0,False
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07,0.0,False
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07,0.0,False

In [27]:
kids_cancel_rate = bookings_plus.query('has_kids == True').is_canceled.sum() / bookings_plus.query('has_kids == True').shape[0] * 100
kids_cancel_rate.round(decimals=2)

34.92

In [28]:
nokids_cancel_rate = bookings_plus.query('has_kids == False').is_canceled.sum() / bookings_plus.query('has_kids == False').shape[0] * 100
nokids_cancel_rate.round(decimals=2)

37.22

Процент клиентов, которые отменили бронирование, выше среди тех, кто не указал детей при оформлении.